<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<string>$(BETTERTILE_ENABLE_AUTOMATIC_CHECKS)</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/LMC-Karma/BetterTile/updates/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>jDDzKbmy50mWyzmIUioKAMdMVKaiPORdrz+P9eQ579c=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUShowReleaseNotes</key>
	<true/>
</dict>
</plist>
